<a href="https://colab.research.google.com/github/Frabin2023/assignmets/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples in Python
A tuple in Python is an ordered, immutable sequence of elements. Tuples are defined using parentheses and can contain elements of different data types, including other tuples. Once a tuple is created, its elements cannot be modified, added, or removed. This immutability makes tuples suitable for representing fixed collections of data.

## Objective
- Comprehend the application of tuples
- Understand how a tuple uses a memory
- Apply various operations on tuples

## Prerequisite

- Lists
- Decision and loops
- Input functions
- Python literals
- Programming variables


## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

# 1. Exercising tuples

1a) Take five inputs from an user and save it in a tuple called ```my_tuple```

In [5]:
# Write your code here.
inputs = []#We start with a list because it's easier to append new elements to a list rather than to a tuple.
for i in range(5):
  user_input = input(f"Enter input {i+1}: ")# added i+1 to start from 1 rather than 0 which is weired.
  inputs.append(user_input)

  my_tuple = tuple(inputs)
  print(my_tuple)

Enter input 1: q
('q',)
Enter input 2: 2
('q', '2')
Enter input 3: _
('q', '2', '_')
Enter input 4: '
('q', '2', '_', "'")
Enter input 5: #
('q', '2', '_', "'", '#')

1b. How do you assign a single element in a tuple?

In [ ]:
# Write your code here.
# tuples are immutable, however,  there are other ways to do it.
# Original tuple
my_tuple = ('Apple', 'Banana', 'Cherry', 'Date', 'Elderberry')

# first we nee to Convert tuple to list
my_list = list(my_tuple)

# then we can Modify the list
my_list[0] = 'Apricot'  # indext 0 Change the first element

# Convert list back to tuple
my_tuple = tuple(my_list)

print(my_tuple)

1c. ```my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)```
Count the repeated integers and print the result on the console.

In [7]:
# Write your code here.
my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)
uniqueNumbers = []
counts= []

for num in my_tuple:
  if num not in uniqueNumbers:
    uniqueNumbers.append(num)
    counts.append(my_tuple.count(num))

    for i in range(len(uniqueNumbers)):
      print(f"{uniqueNumbers[i]}: {counts[i]}")

1: 3
1: 3
2: 4
1: 3
2: 4
3: 4
1: 3
2: 4
3: 4
4: 2
1: 3
2: 4
3: 4
4: 2
5: 1

1d. ```my_tuple = my_tuple + my_tuple```


Proof that ```my_tuple``` in part c is different than the ```my_tuple``` in part d.

In [8]:
# Write your code here.
# Part c: Initialization
my_tuple_c = (1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)

# Part d: Concatenation
my_tuple_d = my_tuple_c + my_tuple_c

print(f"length c {my_tuple_c}")
print(f"length d {my_tuple_d}")

length c (1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)
length d (1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1, 1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)

1e. Explain why the following operations aren’t legal for
the tuple. Answer without using the Python.


because Tuples are immutabe and you can not append it.
```
x = (1,2,3,4)
x.append(1)
x[1] = "hello"
del x[2]
```

Write your response here.
because Tuples are immutabe and you can not append it. You are not able to add, change or remove from tuple after declaration.

# 2. Packing and unpacking tuples

Python permits tuples to appear on the left side of an assignment operator, in which case variables in the tuple receive the corresponding values from the tuple on the right side of the assignment operator. Here’s a simple example:

In [ ]:
(one, two, three, four) =  (1, 2, 3, 4)

# If The number of variables on the left side matchs the number of values on the right side.

2a. What is the data type of each variable?

It should be integer, since the date assigned to them are int or integer.

2b. Python has an extended unpacking feature, allowing an element marked with * to absorb any number of elements not matching the other elements. For example,

In [9]:
x = (1, 2, 3, 4)
a, b, *c = x
a, b, c

(1, 2, [3, 4])

2c. What will be the result of ```a, *b, c = x```?

In [11]:
# Write your code here.
x = (1,2,3,4,5)
a, *b, c = x
a, b, c

(1, [2, 3, 4], 5)

# 3. Memory management
100 is unique and not in my_y so needs an new memory assigned to it. However 200 is repeated and may share memorty.
```
my_x = [100,200,300,400]
my_y = (200,300,400,500)

```
Discuss how memory addresses are assigned to each index of the list and the tuple. Pay attention to new addresses & re-used addresses.

| Index | my_x | my_x |
|   -   |  -   |  -   |
|   0   |   -  |  -   |
|   1   |   -  |  -   |
|   2   |   -  |  -   |
|   3   |   -  |  -   |

## Challenges

Please describe the challenges you faced during the exercise.

Write your challenges here