<a href="https://colab.research.google.com/github/Frabin2023/assignmets/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python variables

Variables are human-friendly names of memory locations

## Objective
1. Understand how to define variables in Python.
2. Gain a clear understanding of how the Python interpreter allocates memory addresses to variables.
3. Skilled in troubleshooting techniques.

## Prerequisite

- Python literals lecture & lab
- Programming variables lecture

## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

### Variable definition

No need to declare the variable data type; variables can be assigned values or strings as needed.

In [2]:
var1 = 10 # integer
print(type(var1)) # var1 holds integer data type
var2 = 100.0 # float
print(type(var2))  # var2 holds float data type
print(var1 * var2)  # var1 * var2 - float data type
str1 = "Hello World"
type(str1) #String
print(str1)
str2 = 'Single quote can also be used'
type(str2)
print(str2)
var1 = "Now I am a string data type"
del(var1) # delete the var1

<class 'int'>
<class 'float'>
1000.0
Hello World
Single quote can also be used

### Variable memory usage

In [9]:
var1 = 10
#print(type(var1))

In [10]:
# Check the memory address of var1 by using the following statement
print(hex(id(var1)))

0xa40ca8

In [11]:
var1 = 100
# Check the memory address of var1 again

In [12]:
# Write your code here
print(hex(id(var1)))

0xa417e8

You should see two distinct addresses for var1. Explain why there are two different addresses and what happened to the first one.
Because we have two var1 with different values. In this case python will assign a new box or cell for the var1. However if the values were the same I would get the same number that python refer to the existing cell.

In [14]:
var2 = 100
# Write your print statement
print(hex(id(var2)))
# Check the memory address of var2. Did the Python interpreter assign a new memory address or reuse the existing one?
# it uses exsting memory allocation cell. because we have it already no need to re-create. Only referncing to to it.

0xa417e8

In [15]:
# Write your code here
print(hex(id(var2)))

0xa417e8

### Memory map

In [16]:
str1 = "Hello"
str2 = "World"

In [ ]:
# Find out the memory addresses of each character in str1 and str2.
# The following is the example

In [19]:
print(hex(id(str1[0])), hex(id(str1[1])))  # where 0 is the first index and 1 is the second index
print(hex(id(str1[2]))), hex(id(str1[3])), hex(id(str1[4]))
print(hex(id(str2[0])), hex(id(str2[1])), hex(id(str2[2])), hex(id(str2[3])), hex(id(str2[4])))
# Use the same method as described above to find the addresses of additional characters and complete the table below.

0xa4b9e8 0xa4c040
0xa4c1c8
0xa4bd30 0xa4c270 0xa4c318 0xa4c1c8 0xa4c008

| Address in hexadecimal | Char |
| ---------------------- | ---- |
| #      0xa4b9e8                | H     |
| #      0xa4c040              |   e   |
| #      0xa4c1c8                |  l,l    |
| #      0xa4bd30                |   o, o  |
| #      0xa4c270                |   W   |
| #                    |      |
| #      0xa4c318                |  r    |
| #      0xa4c1c8               |   l   |
| #      0xa4c008                |   d   |
| #                      |      |

### Problem-solving

 Let the variable ```x``` be ```dog``` and the variable ```y``` be ```cat```. Write the values returned by the following operations: **Try solving without writing in Python.**  
-  x + y  
-  "the " + x + " chases the " + y  
-  x * 4

Write your answer here

dogcat

the dog chases the cat

dogdogdogdog

If ```x = 50```. Use an assignment statement to increment the value of ```x``` by 1.

In [23]:
# Write your code here
x=50
x += 1
print(x)

51

### Troubleshooting

Please troubleshoot the following issue **without using Python**, and explain your reasoning.

a. ```hello = "hello"```  
b. ```_var = 100```  
c. ```!var_1 = 200```  
d. ```print = "print me"```  
e. ```False = 0```

Write your answer here

a. No issue with a. its a valid variable name following naming convesions.

b. var = 100 valid in python to start wiht underscore

c. sentax error due to invalid usage. var_1=100

d. Might be valid but due to using reserved world and infereing with print function might cause issue. use p = "print me"

e.syntax error. it is a boolean experssion and must be true or false

## Challenges

Please describe the challenges you faced during the exercise.

Write your challenges here